<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
  <header>
    <h1>{{ title }}</h1>
  </header>
  <h2>{{ summary }}</h2>
  <p class="context">{{ context }}</p>

  <img class="pocketbook-image" src="/images/{{ image }}.jpg" />

  {{{ contents }}}

 <a href='/pages/{{previous}}/'>Previous Page</a>
  <a href='/pages/{{next}}/'>Next Page</a>

  <footer>
    <p>{{{ footer }}}</p>
  </footer>

</body>
</html>
