/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: courier;
	font-size: 1em;
	padding: 0em 1em 1em 1em;
}

h1 {
    font-family: 'Herr Von Muellerhoff', cursive, courier;
    font-size: 5em;
    font-style: normal;
    text-align: center;
}

footer {
	border-top: 1px solid #aeaeae;
	font-size: 1em;
	margin-top: 1em;
}

.pocketbook-image {
	width: 100%;
}